body {
    font-family: Verdana, sans-serif;
    margin: auto;
}

.myimage {
    opacity: 0.6;
}

.slogan {
    text-align: center;
    margin-top: 15%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0f7ae4;
    color: white;
    padding: 40px 4px 15px 0;
}

.address-footer {
    margin-top: -8%;
}

.contact-us {
    margin-top: 1%;
}

.contact-title {
    text-align: center;
    margin-bottom: 5%;
    color: #0f7ae4;
}

.send-button:hover {
    background-color: #0f7ae4;
    color: white;
}

.send-button {
    text-align: center;
    width: 30%;
    background-color: #0f7ae4;
    margin-bottom: 3%;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .slogan {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 1000px) {
    .slogan {
        margin-top: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .slogan {
        margin-top: 50%;
    }
    .footer-contents {
        margin-bottom: 15%;
    }
    .logistic-slogan {
        grid-template-columns: repeat(1, 1fr);
    }
    .professional {
        margin-left: 28%;
    }
}